nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 120px;
  color: #FFFF;
  width: 100%;
  background-color: #4056A1;
  font-size: 24px;
}
.row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  flex-flow: wrap;
}

.app-name{
  margin-right: 50px;
}

.app-name{
  font-family: Bungee, sans-serif;
}

.fa-angle-double-down {
  animation: bounce 1s infinite;
  display: flex;
 margin-left: 80px;
  color: red;
}

@keyframes bounce{
  50% {transform: translateY(10px) }
  100% {transform: translateY((-5px))}

};

/* mobile styles */
@media only screen and (max-width: 420px) {
  /* Write smartphone only styles here */
 .tweet-body{
   font-size: 0.75em;
 }
 .header-text>b{
  font-size: 0.65em; 
 }
.tweet-avatar{
  width: 10vw;
}
}
nav {background-color: #878c00;
background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); 
}
  
 /* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav{
    background-image: none;
    background-color: #4056A1;
  }
 }
