 main{

   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   background-color: #f4f1ec;
  padding: 80px;
 }
 
label{
  font-weight: 800;
}

 button{
   color: white;
   background-color: darkblue;
   font-family: Bungee, sans-serif;
 }

.view{
  display: flex;
  font-family: Bungee, sans-serif;
  margin-top: 10px;
  
}

.counter{
margin-left: auto;
}

#tweet-text {
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid 5px black;
  width: 100%;
}